node_modules
.idea

database/invoices.db

#Logs
./src/renderer/logs
./src/renderer/*.log
./src/renderer/npm-debug.log*
./src/renderer/yarn-debug.log*
./src/renderer/yarn-error.log*
./src/renderer/pnpm-debug.log*
./src/renderer/lerna-debug.log*

./src/renderer/node_modules
./src/renderer/dist
./src/renderer/dist-ssr
./src/renderer/*.local

# Editor directories and files
./src/renderer/.vscode/*
./src/renderer/!.vscode/extensions.json
./src/renderer/.idea
./src/renderer/.DS_Store
./src/renderer/*.suo
./src/renderer/*.ntvs*
./src/renderer/*.njsproj
./src/renderer/*.sln
./src/renderer/*.sw?
